<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money</title>
    <a href="{% url 'services_page' %}"> services</a>
    <a href="{% url 'agent_page' %}"> AGENT</a>
    <a href="{% url 'transfer_page' %}"> TRANSFER</a>
    <a href="{% url 'account_page' %}"> ACCOUNT</a>
    

</head>
<body>
    <h1>Welocome to our site</h1>
    <h2>we are hambled to have you</h2>
    <h3>this for money transfers</h3>
    


    
</body>
</html>