<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <a href="{% url 'home_page' %}"> HOME PAGE</a>
    <a href="{% url 'agent_page' %}"> AGENT</a>
    <a href="{% url 'transfer_page' %}"> TRANSFER</a>
    <a href="{% url 'account_page' %}"> ACCOUNT</a>

</head>
<body>
    <h1>THESE ARE OUR SERVICES</h1> 
<lo>
    <li>AGENT SERVICES</li>
    <li>ACCOUNT SERVICES</li>
    <li>DEPOSITE SERVICES</li>
    <li>WITHDRAW SERVICES</li>
    <li>TRANSFER SERVICES</li>
</lo>


</body>
</html>